/* card container */
.cardContainer {
    margin: 10;
    display: flex;
    width: "50%";
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* card header */
.cardHeader {
    font-size: 40px;
    color: green;
    font-weight: 800;
    margin-bottom: -10px;
    border-bottom: 1px solid green;
    border-width: 2px;
}

/* card body */
.cardBody {
    font-size: 18px;
    color: rgb(83, 83, 83);
    font-weight: 200;
}

@keyframes MyHandAnimation {
    10% {
        transform: scaleY(1.7);
    }
}

#hand{
    animation-name: MyHandAnimation;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: running;
}